.fab,.fas {
    color: #03485c;
}

h1 {
    color: #03485c;
}

.btn-primary
 
{
 
background-color: #03485c;
 
color:#FFF;
 
border-color: #03485c;
 
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
 
 
 
background-color: #056079;
 
color:#FFF;
 
border-color: #056079;
 
}
