{% extends "base.html" %} {%block title%} Profile Card {%endblock%} {%block
navbar%}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #03485c">
    <div class="container-fluid">
        <span class="navbar-brand"> Flask</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://127.0.0.1:5000/">Profile Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/project">Project</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{%endblock%} {%block content%}

<div class="container my-5 py-5">
    <h1 class="text-center">Encrypt</h1>
    <table class="table table-borderless table-hover mt-2 pt-2 mb-5 pb-5">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Original Text</th>
                <th class="text-center" scope="col">Encrypted Text</th>
                <th class="text-center" scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {%if encryptedRecords|length > 0%}
                {%for enc in encryptedRecords%}
                    <tr>
                        <th class="text-center" scope="row">{{enc.id}}</th>
                        <td class="text-center">{{enc.originalText}}</td>
                        <td class="text-center">{{enc.encryptedText}}</td>
                        <td class="text-center">{{enc.dateEncrypted}}</td>
                    </tr>
                {%endfor%}
            {%else%}
                <tr>
                    <th class="text-center" scope="row" colspan="4">No records in this table</th>
                </tr>
            {%endif%}
        </tbody>
    </table>

    <h1 class="text-center">Decrypted</h1>
    <table class="table table-borderless table-hover my-2 py-2 mb-5 pb-5">
        <thead>
            
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Encrypted Text</th>
                <th class="text-center" scope="col">Decrypted Text</th>
                <th class="text-center" scope="col">Date</th>
            </tr>
            
        </thead>
        <tbody>
            {%if decryptedRecords|length > 0%}
                {%for dec in decryptedRecords%}
                    <tr>
                        <th class="text-center" scope="row">{{dec.id}}</th>
                        <td class="text-center">{{dec.encryptedText}}</td>
                        <td class="text-center">{{dec.decryptedText}}</td>
                        <td class="text-center">{{dec.dateDecrypted}}</td>
                    </tr>
                {%endfor%}
            {%else%}
                <tr>
                    <th class="text-center" scope="row" colspan="4">No records in this table</th>
                </tr>
            {%endif%}
        </tbody>
    </table>
    <div class="card-body d-grid gap-1 col-6 mx-auto">
        <a href="http://127.0.0.1:5000/project" class="btn btn-primary">Return to Main Area</a>
    </div>
</div>


{%endblock%}