{% extends "base.html" %} {%block title%} Profile Card {%endblock%} {%block
navbar%}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #03485c">
    <div class="container-fluid">
        <span class="navbar-brand"> Flask</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://127.0.0.1:5000/">Profile Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/project">Project</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{%endblock%} {%block content%}

<div class="container my-5 py-5">
    <h1 class="text-center">Encrypt</h1>
    <table class="table my-2 py-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Original Text</th>
                <th scope="col">Encrypted Text</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>

    h1 class="text-center">Decrypted</h1>
    <table class="table my-2 py-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Encrypted Text</th>
                <th scope="col">Decrypted Text</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>


{%endblock%}